<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/menu::top-menu"></div>
<div class="container pt-2">
    <div class="form-inline">
        <div class="px-2">Please choose topic:</div>
        <div class="px-2 form-group ">
            <select class="form-control" id="select-topic">
                <option th:each="item : ${topics}" th:selected="${#strings.equals(param.topic, item.id)}"
                        th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>
        <div class="px-2">
            <button class="btn btn-primary" id="show-articles-list-btn">Show</button>
        </div>
    </div>
    <table class="table table-striped" id="articles-table" th:if="${not #strings.isEmpty(param.topic)}">
    </table>
</div>
<div th:replace="fragments/footer::footer-scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let parserCode = /*[[${parserCode}]]*/ '';
    let url = /*[[${url}]]*/ '';

    $(function () {
        $("#show-articles-list-btn").on("click", function (e) {
            e.preventDefault();
            let topicId = parseInt($("select[id=select-topic]").val());
            window.location = BASE_APP_URL + `/parsers/${parserCode}?topic=${topicId}`;
        });

        let articleTable = $("#articles-table").DataTable({
            processing: true,
            serverSide: true,
            ordering: false,
            searching: false,
            pageLength: 20,
            lengthChange: false,
            ajax: BASE_APP_URL + `/api/parsers/${parserCode}?topic=` + [[${param.topic}]] + '&page=1',
            columnDefs: [{
                targets: 0,
                render: function (data, type, row) {
                    return `<i id="${row.id}" data-favorite="${!row.favorite}" class="article-item ${row.favorite == true ? 'fa fa-star' : 'fa fa-star-o'}"></i>` +
                        `<img class="article-item" id="${row.id}" alt="delete" class="float-right" height="14px" src="${BASE_APP_URL + '/img/delete.ico'}"/></div>`;
                }
            },
                {
                    targets: 1,
                    render: function (data, type, row) {
                        return `<a class="article-item" rel="noopener noreferrer" target="_blank" href="${row.link}" id="${row.id}"><span class="${row.visited == true ? 'font-weight-light' : 'font-weight-bold'}">${row.title}</span></a>`;
                    }
                }
            ]
        });
        articleTable.on("click", "i[id].article-item", function () {
            $.ajax({
                type: "PATCH",
                url: BASE_APP_URL + "/api/articles/" + this.id + "?favorite=" + (this.dataset.favorite),
                success: function () {
                    articleTable.ajax.reload();
                }
            });
        });
        articleTable.on("click", "img[id].article-item", function () {
            $.ajax({
                type: "PATCH",
                url: BASE_APP_URL + "/api/articles/" + this.id + "?deleted=true",
                success: function () {
                    articleTable.ajax.reload();
                }
            });
        });
        articleTable.on("click", "a[id].article-item", function () {
            $.ajax({
                type: "PATCH",
                url: BASE_APP_URL + "/api/articles/" + this.id + "?visited=true",
                success: function () {
                    articleTable.ajax.reload();
                }
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>