<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/menu::top-menu"></div>
<div class="container pt-2">
    <div class="form-inline">
        <div class="px-2">Please choose topic:</div>
        <div class="px-2 form-group ">
            <select class="form-control" id="select-topic">
                <option th:each="item : ${topics}" th:selected="${#strings.equals(param.topic, item.id)}"
                        th:text="${item.name}" th:value="${item.id}"></option>
            </select>
        </div>
        <div class="px-2">
            <button class="btn btn-primary" id="show-articles-list-btn">Show</button>
        </div>
    </div>
    <ul class="pagination">
        <li th:class="page-item" th:if="${page.totalPages} >= 1" th:classappend="${#strings.equals(param.page, 1)} ? 'active' : ''">
            <a class="page-link" th:href="@{/parsers/{parserCode}(parserCode=${parserCode}, topic=${param.topic}, page=1)}">1</a>
        </li>
        <li class="page-item" th:if="${page.totalPages} >= 2" th:classappend="${#strings.equals(param.page, 2)} ? 'active' : ''">
            <a class="page-link" th:href="@{/parsers/{parserCode}(parserCode=${parserCode}, topic=${param.topic}, page=2)}">2</a>
        </li>
        <li class="page-item" th:if="${page.totalPages} >= 3" th:classappend="${#strings.equals(param.page, 3)} ? 'active' : ''">
            <a class="page-link" th:href="@{/parsers/{parserCode}(parserCode=${parserCode}, topic=${param.topic}, page=3)}">3</a>
        </li>
    </ul>
    <ul class="list-group pt-2" th:if="${not #lists.isEmpty(page.content)}">
        <li class="article-item list-group-item" th:each="item : ${page.content}">
            <i data-th-data-favorite="${not item.favorite}"
               th:classappend="${item.favorite == true ? 'fa fa-star' : 'fa fa-star-o'}"
               th:id="${item.id}"
            ></i>

            <span class="d-inline" th:text="${#dates.format(item.scrapingDate, 'yyyy-MM-dd')}"/>
            <a rel="noopener noreferrer" target="_blank" th:href="${item.link}" th:id="${item.id}">
                <span th:class="${item.visited == true ? 'font-weight-light' : 'font-weight-bold'}"
                      th:text="${item.title}"></span>
            </a>
            <button class="btn btn-danger ml-2" th:id="${item.id}">Delete</button>
        </li>
    </ul>
</div>
<div th:replace="fragments/footer::footer-scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let parserCode = /*[[${parserCode}]]*/ '';
    let url = /*[[${url}]]*/ '';

    $(function () {
        $("#show-articles-list-btn").on("click", function (e) {
            e.preventDefault();
            let topicId = parseInt($("select[id=select-topic]").val());
            window.location = `/parsers/${parserCode}?topic=${topicId}&page=1`;
        });
        $(".article-item i[id]").on("click", function () {
            $.ajax({
                type: "PATCH",
                url: "/articles/" + this.id + "?favorite=" + (this.dataset.favorite),
                success: function () {
                    window.location = url;
                }
            });
        });
        $(".article-item button[id]").on("click", function () {
            $.ajax({
                type: "PATCH",
                url: "/articles/" + this.id + "?deleted=true",
                success: function () {
                    window.location = url;
                }
            });
        });
        $(".article-item a[id]").on("click", function () {
            $.ajax({
                type: "PATCH",
                url: "/articles/" + this.id + "?visited=true",
                success: function () {
                    window.location = url;
                }
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>