<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" layout:fragment="content">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${not #strings.isEmpty(error)}">
        <span th:text="${error}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${not #strings.isEmpty(success)}">
        <span th:text="${success}"></span>
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form id="topics-list-form" sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/topics}" th:method="post">
        <h1>Links list</h1>
        <table id="topics-table"></table>
        <button class="btn btn-outline-primary" id="add-new-parser-btn">Add</button>
        <button class="btn btn-primary" id="save-parsers-list-btn" type="submit">Save list</button>
    </form>
</div>
<script layout:fragment="page-scripts" th:inline="javascript">
    /*<![CDATA[*/
    let topicsList = /*[[${topicsList}]]*/ [];
    let parsersList = /*[[${parsersList}]]*/ [];
    let deletedTopicIds = [];
    let columnDefs = [
        {
            targets: 0,
            title: "Name",
            width: "120px",
            render: function (data, type, row, meta) {
                return `<input data-rowid="${meta.row}" data-propname="name" class="form-control" type="text" value="${row.name}"/>`;
            }
        },
        {
            targets: 1,
            title: "Link",
            render: function (data, type, row, meta) {
                return `<input data-rowid="${meta.row}" data-propname="link" class="form-control" type="text" value="${row.link}"/>`;
            }
        },
        {
            targets: 2,
            title: "Parser",
            width: "120px",
            render: function (data, type, row, meta) {
                let retVal = `<select data-rowid="${meta.row}" data-propname="parser" class="custom-select">`;
                retVal = parsersList.reduce(
                    (options, parserName) => options + `<option class="form-control" type="text" ${parserName === row.parser ? "selected" : ""} value="${parserName}">${parserName}</option>`
                    , retVal
                );
                retVal += `</select>`;
                return retVal;
            }
        },
        {
            targets: 3,
            title: "Enabled",
            width: "60px",
            render: function (data, type, row, meta) {
                let retVal = `<input data-rowid="${meta.row}" data-propname="enabled" type="checkbox" class="custom-checkbox" value="true" ${row.enabled ? "checked" : ""}/>`;
                return retVal;
            }
        },
        {
            targets: 4,
            render: function (data, type, row, meta) {
                return `<button data-rowid="${meta.row}" class="btn btn-danger">Delete</button>`;
            }
        }
    ];

    let newParserRecord = {name: '', link: '', parser: "GOOGLE"};

    $(function () {
        let topicsTable = $("#topics-table").DataTable({
            data: topicsList,
            ordering: false,
            searching: false,
            columnDefs: columnDefs
        });

        topicsTable.on("click", "button[data-rowid]", function (e) {
            e.preventDefault();
            let i = parseInt(this.dataset.rowid);
            if (topicsList[i].id) {
                deletedTopicIds.push(topicsList[i].id);
            }
            topicsList.splice(i, 1);
            topicsTable.clear();
            topicsTable.rows.add(topicsList).draw();
        });

        $("#add-new-parser-btn").on("click", function (e) {
            e.preventDefault();
            topicsList.push(newParserRecord);
            topicsTable.row.add(newParserRecord).draw();
        });

        $("#topics-list-form").on("submit", function () {
            let form = $(this);
            let pageInfo = topicsTable.page.info();
            let startIndex = pageInfo.length * pageInfo.page;
            let endIndex = pageInfo.end;

            for (let i = startIndex; i < endIndex; i++) {
                let item = topicsList[i];
                if (item.id) {
                    form.append(`<input name="topicsList[${i - startIndex}].id" type="text" hidden value="${item.id}"/>`);
                }
            }
            let elms = topicsTable.$("*[data-propname]");
            for (let i = 0; i < elms.length; i++) {
                let e = elms[i];
                let propName = e.dataset.propname;
                let rowId = e.dataset.rowid;
                let rowIndex = rowId-startIndex;
                $(e).attr("name", `topicsList[${rowIndex}].${propName}`);
            };

            deletedTopicIds.forEach((id) => form.append(`<input name="deletedTopicIds" type="text" hidden value="${id}"/>`));
            return true;
        });
    })
    /*]]>*/
</script>
</body>
</html>